.mainscreen {
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(78, 0, 78), rgb(238, 51, 176));
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.mainarea{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
         
}

.maintextarea{
    color: white;
    flex-grow: 1;
    max-width: 400px;
}

.imagearea{
    flex-grow: 3;
}

.imagearea img{
    width: 25vw;
    float:right;
}

.guestmain{
    margin: 20px;
}
.guestinstance{
    
    display: flex;
    justify-content: flex-start;
    margin: 0 20px;
    flex-wrap: wrap;
}
.guestcircle{
    width:10vw;
    min-width: 100px;
}
.guestname{
    text-align: center;
}

i.footericon { 
    color: white;
    padding: 1vw;
} 

.participant{
    margin: 40px 0;
    border-radius: 20px;
    padding: 40px;
}
